
<!-- LOGIN -->

<div class="login-container" [className]="myClass ? 'activado' : 'desactivado'">
    <div class="login-info-container">
      <h1 class="title">Log in with</h1>
      <div class="social-login">
          <div class="social-login-element">
              <img src="../../../assets/img/facebook.svg" alt="facebook-image">
              <span>Facebook</span>
          </div>
      </div>
      <p>or</p>
      <div class="inputs-container">
          <input class="input" type="email" placeholder="E-mail" [(ngModel)]="email">
          <input class="input" type="password" placeholder="Password" [(ngModel)]="password">
          <button class="btn" (click)="iniciarSesion()">login</button>
          <p>Don't have an account? <span class="span" (click)="cambiarClase()">Sign Up</span></p>
      </div>
    </div>
      <img class="image-container" src="../../../assets/img/login.svg" alt="">
</div>




<!-- SIGNUP -->

<div class="login-container" [className]="myClass ? 'desactivado' : 'activado'">
    <img class="image-container" src="../../../assets/img/login.svg" alt="">
    <div class="login-info-container">
      <h1 class="title">Sign Up</h1>
      <div class="inputs-container">
          <input class="input" type="text" placeholder="Username" [(ngModel)]="userData.username">
          <input class="input" type="email" placeholder="E-mail" [(ngModel)]="userData.email">
          <input class="input" type="password" placeholder="Password" [(ngModel)]="userData.password">
          <div class="btn2">
            <button class="btn" (click)="saveUser()">Sign Up</button> <br> <br>
            <p>Already have an account? <span class="span" (click)="cambiarClase()">Sign in</span></p>
        </div>
    </div>
    </div>
      
</div>