#content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // padding: 20px;
    // height: 35.5em;
}

#mapid{
    margin:80px;
    padding:26px;
    height: 70vh; 
    width: 55vw;
    // z-index: 0;
    // position: absolute;
}

.datos{
    margin:52px;
}

#botones{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.boton {
    background-image: linear-gradient(to bottom, #7c32eb, #2980b9);
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border: 0px;
    width: 100%;
    margin: 5px 0px;
}
  
.boton:hover {
    background: #24d5f0;
    background-image: linear-gradient(to bottom, #24d5f0, #1f08cc);
    text-decoration: none;
}