<div class="tabla">

<table class="blueTable">
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Partida</th>
            <th>Destino</th>
            <th>Costo</th>
            <!-- <th>Viaje</th> -->
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let viaje of travels">
            <td>{{viaje.date}}</td>
            <td>{{viaje.startingPoint}}</td>
            <td>{{viaje.arrivalPoint}}</td>
            <td>{{viaje.cost | currency}}</td>
        </tr>
    </tbody>
</table>

</div>